<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css" />
    {% load static %}
    <link rel="stylesheet" href="{% static "device/example.css" %}"/>

    <title>KessK智能设备</title>
    <style type="text/css">
        .weui-cell__hd {
            position: relative;
        }

        .cell__hd_position {
            position: absolute;
            height: 34px;
            width: 1px;
            top: 22px;
            left: 30%;
            z-index: 2;
            display: block;
            border-left: 1px dashed #08b503;
        }

        .box_ {
            margin: 40px auto;
            padding-top: 15px;
        }

        body {
            height: 100%;
            overflow: hidden;
        }

        .weui-cell {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }

        .title_ {
            color: #555
        }
    </style>
</head>
<body ontouchstart background="#ededed" style="background: #ededed">

<div class="box_">
    <!--     Step. Bindding config -->
    <div class="page msg_warn js_show" id="config-cancel-info" style="display: ">
        <div id="loadingToast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><img src="{{ user.email }}" style="border-radius: 100%"></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">确认添加</h2>
                <p class="weui-msg__desc">确认添加来自<span style="color: green;font-weight: bold">{{user.first_name}}</span>分享的设备:<span style="color: red;font-weight: bold">{{device.device_name}}</span></p>
            </div>

            <div class="weui-msg__opr-area">
                <p class="weui-btn-area">
                    <a href="javascript:void(0);" onclick="bindAction()" class="weui-btn weui-btn_primary">确认</a>
                </p>
            </div>
            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">KessK</a>
                    </p>
                    <p class="weui-footer__text">Copyright © 2019 kessk</p>
                </div>
            </div>
        </div>
    </div>

    <!--     Step. 3 Rename Device -->
    <div id="config-change-device-name" style="display: none">
        <div class="weui-msg">
            <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
            <div class="weui-msg__text-area">
                <h2 class="weui-msg__title">绑定完成</h2>
                <p class="weui-msg__desc">请为你的设备设置一个名称，例如"卧室电灯开关" "客厅电灯开关"等</p>
            </div>

            <div class="weui-cells">
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" id="device-name" placeholder="输入设备的名称">
                        <input type="hidden" id="device-id">
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="weui-btn weui-btn_block weui-btn_primary" id="change-device-name"
               style="margin-top: 35px;margin-left: 35px;margin-right: 35px;">确认</a>


            <div class="weui-msg__extra-area">
                <div class="weui-footer">
                    <p class="weui-footer__links">
                        <a href="javascript:void(0);" class="weui-footer__link">KessK</a>
                    </p>
                    <p class="weui-footer__text">Copyright © 2019 kessk</p>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.0.0/jquery.min.js" ></script>
<script type="text/javascript">

    var bindAction = function () {
        $("#loadingToast").show()
        $.post("/api/user/share/bind/",{"share_code":"{{ share_code }}"},function (data) {
            $("#loadingToast").hide()
            if (data.code == -1){
                $("#device-name").val(data.data.device_name)
                $("#device-id").val(data.data.id)
                $("#config-cancel-info").hide()
                $("#config-change-device-name").show()
            }
            else {
                alert("失败")
            }
        })
    }

    $("#change-device-name").click(function () {
        {#alert(9988)#}
            $(this).attr("disabled", true);
            var device_name = $("#device-name").val()
            var device_id = $("#device-id").val()

            $.ajax({
                url: '/api/device/ccname/',
                type: 'PUT',
                data: {"chip": device_id, "name": device_name},
                success: function (data) {
                        window.location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx8dc705a03c99a21f&redirect_uri=https://airless.ngrok2.xiaomiqiu.cn/user/index/&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect';
                }

            })
        })

</script>
</html>